.card {
  background: #a3de83;
}

.cardList {
  padding: 2rem;
}

.search-container {
  /* margin-bottom: 1rem; */
}

.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #a3de83;
}
.search-box + label .search-icon {
  color: #212125;
}
.search-box:hover {
  color: white;
  background: #88c268;
  box-shadow: 0 0 0 5px #1a7045;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s,
    background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #a3de83;
  color: #212125;
}
.search-box:focus + label .search-icon {
  color: #212125;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
  display: none;
}

.search-icon {
  position: relative;
  left: -33px;
  top: 7px;
  color: white;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
